{% extends 'base.html.twig' %}

{% block title %}ADMIN
{% endblock %}

{% block stylesheet %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="h-full bg-darkblue">
		{% include './components/sidebar-admin.html.twig' %}
		<div class="mt-4 shadow rounded-lg w-full">

			<div class="text-blue w-full font-normal text-base pb-2 text-grey">
				<h2 class="p-4 flex"> {% include 'icons/search.svg' %} &nbsp Rechercher</h2>
			</div>

			<div class="text-blue w-full font-medium text-base border-t border-b border-grey pb-2 pt-2 border-opacity-20">
				<h2 class="p-4">Vue d'ensemble</h2>
			</div>


			<div class="flex justify-between p-4">
				<div class="text-white text-lg font-semibold pb-4">
					<h2>Toutes les produits</h2>
				</div>

				<div>
					<a href="{{ path('app_card_new') }}" type="button" class="btn flex-none rounded-md bg-indigo-500 bg-blue px-5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
						Ajouter
					</a>
				</div>
			</div>


			<div class="my-1"></div>
			<!-- Espacio de separación -->
			<div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div>
			<!-- Línea con gradiente -->
			<table class="w-full table-auto text-sm">
				<thead>
					<tr class="text-sm leading-normal">
						<th class="py-2 px-4 font-medium text-sm text-white text-start">Produits</th>
						<th class="py-2 px-4 font-medium text-sm text-white text-start">Catégorie</th>
						<th class="py-2 px-4 font-medium text-sm text-white text-start"></th>
					</tr>
				</thead>
				<tbody>
					{% for card in cards %}
						<tr class="hover:bg-grey-lighter">
							<td class="py-2 px-4 border-b border-t border-grey border-opacity-20 text-white font-normal">{{ card.title }}</td>
							<td class="py-2 px-4 border-b border-t border-grey border-opacity-20 text-white font-normal">{{ card.category }}</td>

							<td class="py-2 px-4 border-b border-t border-grey border-opacity-20 text-white font-normal flex justify-end">
							    {{ include('card/_delete_form.html.twig') }} &nbsp
								| &nbsp
								<a href="{{ path('app_card_edit', {'id': card.id}) }}" class=" text-blue">Modifier</a>
							</td>
						</tr>
					{% endfor %}
					<!-- Añade más filas aquí como la anterior para cada autorización pendiente -->
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}
